{% extends 'core/base.html' %}
{% load static %}
{% block title %}
{% if request.path == '/vehicles/my_publications/' %}Mis Publicaciones{% else %}Publicaciones{% endif %}
{% endblock %}
{% block content %}

<main role="main">
    <div class="container">
        {% if object_list %}
        <div class="row">
            {% for vehiclep in object_list%}
            <!-- vehicleCard_item.html -->
            {% block loop_item %}{% include 'vehicles\vehicleCard_item.html' %}{% endblock %}
            {% endfor %}
        </div>
        {% else %}

        <div class="alert alert-warning" role="alert">
            {% if not request.user.is_authenticated %}
            <h2>¡Aún nadie ha publicado ningún vehículo!</h2>
            <a class="nav-link" href="{% url 'vehicleRegister' %}">Sé el primero!</a>
            {% else %}
            {% if request.path == '/vehicles/my_publications/' %}
            <h2>¡No tienes ningún vehículo publicado!</h2>
            <a class="nav-link" href="{% url 'my_vehicles' %}">Publicar uno</a>
            {% else %}
            <h2>¡Aún nadie ha publicado ningún vehículo!</h2>
            <a class="nav-link" href="{% url 'my_vehicles' %}">Sé el primero!</a>
            {% endif %}
            {% endif %}
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}
