{% load static %}
{% block loop_item %}
<div class="row mt-3">
    <div class="col-md-2">
        {% if request.user.vehicle.avatar %}
        <img src="{{request.user.vehicle.carPhoto.url}}" class="img-fluid">
        <p class="mt-1">¿Borrar? <input type="checkbox" id="avatar-clear" name="avatar-clear"/></p>
        {% else %}
        <img src="{% static 'vehicle/img/no-carPhoto.jpg' %}" class="img-fluid">
        {% endif %}
    </div>
    <div class="col-md-9 mx-auto">
        <h3>{{ vehicle.brand }} {{ vehicle.carModel }}</h3>
        <!-- Button trigger a PUBLICAR -->
        {% if vehicle.published %}
        <button type="button" class="btn btn-success" disabled>Publicado</button>
        {% else %}
        <a href="{% url 'new_publication' vehicle.id %}" type="button" class="btn btn-primary">Publicar</a>
        {% endif %}
        <!-- Button trigger modal DETALLES -->
        <button type="button" class="btn btn-secondary" data-toggle="modal"
                data-target="#{{ vehicle.id }}DetailModal">
            Detalles
        </button>
    </div>
</div>
{% endblock %}