{% extends 'core/base.html' %}
{% load static %}
{% block title %}Mis vehiculos{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>

<main role="main">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-9 mx-auto mb-5">
                <h3 class="mb-4">Mis Vehiculos</h3>
                {% for vehicle in vehicle_list %}
                <div class="row mt-3">
                    <div class="col-md-2">
                        {% if request.user.vehicle.avatar %}
                        <img src="{{request.user.vehicle.carPhoto.url}}" class="img-fluid">
                        <p class="mt-1">¿Borrar? <input type="checkbox" id="avatar-clear" name="avatar-clear"/></p>
                        {% else %}
                        <img src="{% static 'vehicle/img/no-carPhoto.jpg' %}" class="img-fluid">
                        {% endif %}
                    </div>
                    <div class="col-md-9 mx-auto">
                        <h3>{{ vehicle.brand }} {{ vehicle.carModel }}</h3>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#{{ vehicle.id }}DetailModal">
                          Detalles
                        </button>
                        <!-- Button trigger a PUBLICAR -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ vehicle.id }}">
                          Publicar
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% include 'vehicles\vehicle_list-modal.html' %}
{% endblock %}