{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

<p>Registro</p>
<p1>{{ register_form.nombre_usuario.label }} </p1>{{ register_form.nombre_usuario }}<br>
<p1>{{ register_form.contrasenia.label }} </p1>{{ register_form.contrasenia }}<br>
<p1>{{ register_form.ci.label }} </p1>{{ register_form.ci }}<br>
<p1>{{ register_form.pais.label }} </p1>{{ register_form.pais }}<br>
<p1>{{ register_form.ciudad.label }} </p1>{{ register_form.ciudad }}<br>
<p1>{{ register_form.nombre.label }} </p1>{{ register_form.nombre }}<br>
<p1>{{ register_form.apellido.label }} </p1>{{ register_form.apellido }}<br>

{% endblock content %}
