{% extends 'core/base.html' %}
{% load static %}
{% block title %}Lessee{% endblock %}
{% block content %}

<main role="main">
    <div class="container mb-4">
        {% if not confirmed_list %}
        <h4>Parece que aun no has alquilado vehiculos</h4>
        {% else %}
            {% for conf in confirmed_list %}
            <div class="row mt-3">
                <div class="col-md-9 mx-auto">

                        <div class="col-md-9 mx-auto">
                            <h4>Desde:</h4>
                            {{ conf.startDate }} {{ conf.startTime }}
                            <h4>Hasta:</h4>
                            {{ conf.endDate }} {{ conf.endTime }}
                            <h4>Precio:</h4>
                            {{ req.priceHour }}
                            <h4>Arrendatario Id:</h4>
                            {{ req.lessor.user.id }}
                        </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}